<div class="modal-header">
  <h5 class="modal-title float-left">Create Administrator Account</h5>
  <button type="button" class="close float-right" aria-label="Close" (click)="hideModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <mat-horizontal-stepper [linear]="true" style="font-family: 'Inter', sans-serif !important;">
    <!-- parent container to hold the steppers -->
    <mat-step [stepControl]="adminForm">
      <!-- single step in the form -->
      <form [formGroup]="adminForm">
        <!-- first form for stepper 01 -->
        <ng-template matStepLabel>Account Information</ng-template>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="firstNameField"><b class="fonts">First Name</b></label>
              <input type="text" id="firstNameField" class="form-control" placeholder="Enter The First Name (Required)"
                [formControlName]="'firstName'" maxlength="100">

              <span class="form-error"
                *ngIf="adminForm.get('firstName').invalid && adminForm.get('firstName').touched">Please Provide a
                Valid First Name</span>
              <span class="form-error"
                *ngIf="adminForm.get('firstName').invalid && adminForm.get('firstName').touched && adminForm.get('firstName').errors.pattern"><br>
                Please ensure that your first name has only alphabetical characters and no numerics
              </span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="lastNameField"><b class="fonts">Last Name</b></label>
              <input type="text" id="lastNameField" class="form-control" placeholder="Enter The Last Name (Required)"
                [formControlName]="'lastName'" maxlength="100">
              <span class="form-error"
                *ngIf="adminForm.get('lastName').invalid && adminForm.get('lastName').touched">Please Provide a
                Valid Last Name</span>
              <span class="form-error"
                *ngIf="adminForm.get('lastName').invalid && adminForm.get('lastName').touched && adminForm.get('lastName').errors.pattern"><br>
                Please ensure that your last name has only alphabetical characters and no numerics
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="emailAddressField"><b class="fonts">Email Address</b></label>
              <input type="email" class="form-control" placeholder="Enter The Email Address (Required)"
                [formControlName]="'emailAddress'" maxlength="255">
              <span class="form-error"
                *ngIf="adminForm.get('emailAddress').invalid && adminForm.get('emailAddress').touched">Please
                Provide a
                Valid Email Address</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="usernameField"><b class="fonts">Username</b></label>
              <input type="text" class="form-control" placeholder="Enter The Username (Required)"
                [formControlName]="'username'" maxlength="15" #usernameField minlength="6" maxlength="15"
                (input)="usernameField.value = usernameField.value.toLowerCase()">
              <span class="form-error"
                *ngIf="adminForm.get('username').invalid && adminForm.get('username').touched">Please
                Provide a
                Valid Username Between 6 and 15 Characters</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="contactNumberField"><b class="fonts">Contact Number</b></label>
              <input type="text" class="form-control" placeholder="0777712345 (Required)"
                [formControlName]="'contactNumber'" maxlength="10" minlength="10">
              <span class="form-error"
                *ngIf="adminForm.get('contactNumber').invalid && adminForm.get('contactNumber').touched">Please
                Provide a
                Valid Contact Number of 10 Digits</span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="dateOfBirthField"><b class="fonts">Date of Birth</b></label>
              <div class="row">
                <div class="col-sm-10">
                  <input class="form-control" placeholder="Enter Date of Birth (Required)"
                    [matDatepicker]="dateOfBirthPicker" readonly [max]="maxDate" style="background-color: white;"
                    [formControlName]="'dateOfBirth'">
                  <span class="form-error"
                    *ngIf="adminForm.get('dateOfBirth').invalid && adminForm.get('dateOfBirth').touched">Please
                    Provide a
                    Valid Date of Birth</span>
                </div>
                <div class="col-sm-1">
                  <mat-datepicker-toggle [for]="dateOfBirthPicker" class="mat-btn"></mat-datepicker-toggle>
                  <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <span style="color: red;font-size: 15px; font-style: italic;">Important - Please note that this account will
              provide the user with
              administrator rights.</span>
            <br>
            <span style="color: red;font-size: 15px; font-style: italic;">Important - You can only create a total of 5
              administrator accounts for Banger and Co.</span>
            <br>
            <span style="color: black;font-size: 15px; font-style: italic">Important - The password will be the entered
              username</span>
          </div>
        </div>
      </form>

      <button class="btn btn-primary mt-3" style="float: right; width: 30%;" matStepperNext
        [disabled]="adminForm.invalid">Next</button>
    </mat-step>


    <mat-step>
      <!-- stepper 03 for form 03 -->
      <ng-template matStepLabel>Account Profile Picture</ng-template>
      <form>
        <!-- form 03 for stepper 03 -->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="row">
                <input type="file" accept="image/jpeg" style="display:none;" #fileChoose
                  (change)="loadProfilePicture(fileChoose.files[0])">
                <div class="col-sm-12" style="text-align: center;">
                  <label><b class="fonts">Provide The Profile Picture (maximum - 2MB)</b></label>
                  <br>
                  <button class="btn btn-secondary" (click)="fileChoose.click()" type="button"
                    style="width: 30%;">Upload
                    a Picture</button>
                  <br>
                  <img *ngIf="loadedUrl" [src]="loadedUrl" width="150px" height="150px" style="border-radius: 50%;"
                    class="mt-2" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <button class="float-right btn btn-primary" (click)="createAdministrator()"
        [disabled]="adminForm.invalid || !adminProfilePicture">Create Administrator Account</button>
      <button class="float-right btn btn-warning mr-2" matStepperPrevious>Previous</button>
    </mat-step>
  </mat-horizontal-stepper>

</div>

<div class="modal-footer">
  <button class="float-right btn btn-danger" (click)="hideModal()" style="width: 20%;">Close</button>
</div>
