<div class="content">
  <h4 class="alert-heading" style="font-weight: 600;">Cost Breakdown</h4>
  <h6>For x days</h6>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 fonts">
      Vehicle Rental Price:
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 fonts">
      Equipment Total
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 fonts">
      Total Cost For Rental:
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
      <button style="width: 100%;" class="btn btn-primary" (click)="proceedRental()">Proceed With Rental</button>
    </div>
  </div>
</div>
