<div class="content">
  <h4 class="alert-heading" style="font-weight: 600;">Cost Breakdown</h4>
  <h6 [textContent]="getHeader()"></h6>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
      <div class="fonts">
        Vehicle Rental Price: <span class="float-right">{{getVehicleCost()}}</span>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
      <div class="fonts">
        Equipment Total
      </div>
      <div>
        <div class="badge badge-info mt-2" style="font-size: 14px;" *ngIf="listOfEquipmentsAdded.length == 0">No
          Additional Equipment Added</div>
        <div *ngIf="listOfEquipmentsAdded.length > 0">
          <ul class="list-group mt-2">
            <li class="list-group-item" style="background-color:#f7fafc; padding-left: 5px;"
              *ngFor="let equipment of listOfEquipmentsAdded">
              <span class="float-left">{{equipment.equipment.equipmentName}} (x{{equipment.quantity}})</span>
              <span class="float-right fonts">LKR - {{equipment.totalCost.toFixed(2)}}
                <i class="fal fa-window-close" style="font-size: 16px; margin-left: 5px; color: black;"
                  (click)="removeItemFromRental(equipment)"
                  *ngIf="(rental) && (rental.approved == null || (rental.approved == true && rental.collected == false))"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 fonts">
      Total Cost For Rental: <span class="float-right">LKR - {{totalCostForRental.toFixed(2)}}</span>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12" *ngIf="!rental">
      <button style="width: 100%;" class="btn btn-primary" (click)="proceedRental()">Proceed With Rental</button>
    </div>
    <div class="col-sm-12 col-lg-12 col-md-12"
      *ngIf="rental && (rental.approved == null || (rental.approved == true && rental.collected == false))">
      <button style="width: 100%;" class="btn btn-primary" (click)="customizeAddons()">Customize The Add Ons</button>
    </div>
  </div>
</div>
