<mat-card style="font-family:'Inter', sans-serif;">
  <mat-card-title style="font-size: 18px;">
    <span>
      <span style="text-align: left;">
        {{theRental.vehicleToBeRented.vehicleName}}
      </span>
      <span class="float-right" style="font-size: 14px;" [ngClass]="getClassForBadge()">
        {{getBadgeText()}}
      </span>
    </span>
  </mat-card-title>

  <mat-card-content>
    <div class="row">

    </div>

    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-primary float-right" (click)="getMoreRentalInformation()">More</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
