<mat-card style="font-family:'Inter', sans-serif;" class="mb-2">
  <mat-card-title style="font-size: 18px;">
    <span>
      <span style="text-align: left;" *ngIf="theRental.vehicleToBeRented">
        {{theRental.vehicleToBeRented.vehicleName}}
      </span>
      <span style="text-align: left;" *ngIf="!theRental.vehicleToBeRented">
        Vehicle Not Available
      </span>
      <span class="float-right" style="font-size: 14px;" [ngClass]="getClassForBadge()">
        {{getBadgeText()}}
      </span>
    </span>
  </mat-card-title>

  <mat-card-content>
    <div class="row">
      <div class="col-sm-12">
        Duration: <b class="fonts">{{theRental.pickupDate | date}}</b> at <b class="fonts">{{theRental.pickupTime}}</b>
        to
        <b class="fonts">{{theRental.returnDate | date }}</b> at
        <b class="fonts">{{theRental.returnTime}}</b>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-sm-4">
        Late Return: <span class="fonts">{{theRental.lateReturnRequested ? 'Yes' : 'No'}}</span>
      </div>
      <div class="col-sm-4">
        Add Ons: <span class="fonts">{{theRental.equipmentsAddedToRental.length > 0 ? 'Yes' : 'No'}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 align-self-center" style="font-size: 16px;">
        Total Cost: <b class="fonts">LKR - {{theRental.totalCostForRental.toFixed(2)}}</b>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-primary float-right"
          [routerLink]="['/customer','rentals','detailed',theRental.rentalId]">More</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
