<app-admin-nav></app-admin-nav>
<app-bread-crumb [pageName]="'Inquiries To Be Responded'"></app-bread-crumb>

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="padding-bottom: 15px;">
        <div class="row">
          <div class="col-sm-12">
            <span><b class="fonts">Sort Inquiries</b></span>
            <span class="float-right btn btn-primary" style="width: 12%;" (click)="getPendingInquiry()">Refresh</span>
          </div>
        </div>
        <span class="float-left" style="width: 50%;">
          <select class="form-control" #selection (input)="processChange(selection.value)"
            [disabled]="inquiryList.length === 0 || isError">
            <option value="most-recent">Most Recent Inquiries</option>
            <option value="least-recent">Least Recent Inquiries</option>
          </select>
        </span>
        <span class="float-right" *ngIf="!isError && inquiryList.length > 0"
          style="display: flex; align-items: center; min-height: 40px; color: green;">
          <i>{{inquiryList.length}} Inquiries Available</i>
        </span>
      </div>
    </div>

    <div class="row" *ngIf="inquiryList.length > 0 && isError===false; else executeNoList">
      <div class="col-sm-12">

      </div>
    </div>
    <ng-template #executeNoList>
      <div class="row" *ngIf="isError === false && inquiryList.length === 0">
        <div class="col-sm-12">
          <div class="alert alert-info">
            <b class="fonts"> All Inquiries Have Been Responded Successfully!</b>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isError === true">
        <div class="col-sm-12">
          <div class="alert alert-danger">
            <b class="fonts"> An Error Occurred While Retrieving the Inquiries</b>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>
