<div class="row" *ngIf="pendingRentals.length > 0">
  <div class="col-sm-6" *ngFor="let eachRental of pendingRentals">
    <app-customer-rental-card [theRental]="eachRental"></app-customer-rental-card>
  </div>
</div>

<div class="row" *ngIf="pendingRentals.length === 0">
  <div class="col-sm-12" *ngIf="!isError">
    <div class="alert alert-warning">
      <h5 class="alert-heading">No Pending Rentals</h5>
      You have no pending rentals at Banger and Co.
    </div>
  </div>

  <div class="col-sm-12" *ngIf="isError">
    <div class="alert alert-danger">
      <h5 class="alert-heading">Failed to Load Pending Rentals</h5>
      We ran into an error while loading your pending rentals. Please try again.
    </div>
  </div>
</div>

<div class="row justify-content-center mt-3 mb-3">
  <div class="col-sm-2">
    <button class="btn btn-primary" (click)="getTheNextPage()" style="width: 100%;">Load More</button>
  </div>
</div>
