<mat-card style="font-family: 'Inter', sans-serif;" *ngIf="theVehicle" class="mb-3">
  <div style="padding-bottom: 10px;">
    <mat-card-title style="font-size: 20px;">
      {{theVehicle.vehicleName}}
    </mat-card-title>
    <mat-card-subtitle>
      License Plate: {{theVehicle.licensePlate}}
    </mat-card-subtitle>
  </div>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img mat-card-image style="border-radius: 5px;" [src]="theVehicle.vehicleImage" width="500" height="200">
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-12">
        Type: <b class="fonts">{{theVehicle.vehicleType.size | titlecase}} {{theVehicle.vehicleType.typeName |
          titlecase}}</b>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-6">
        <i class="fas fa-user-alt"></i>: <b>{{theVehicle.seatingCapacity}} Person(s)</b>
      </div>
      <div class="col-sm-6">
        <i class="fas fa-gas-pump"></i>: <b class="fonts">{{theVehicle.fuelType}}</b>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <img src="../../../../assets/gearbox.svg" width="20" height="20">: <b
          class="fonts">{{theVehicle.transmission}}</b>
      </div>
    </div>
    <hr style="margin-bottom: 3px;">
    <div class="row mt-2">
      <div class="col-sm-7 align-self-center">
        <span class="fonts" style="font-size: 20px;">{{theVehicle.vehicleType.pricePerDay}}/Day</span>
      </div>
      <div class="col-sm-5" *ngIf="loggedInUser">
        <button class="btn btn-primary float-right" *ngIf="loggedInUser.userRole=='customer'" (click)="handleCustomerClick()">Rent This</button>
        <span *ngIf="loggedInUser.userRole=='administrator'">
        </span>
      </div>
      <div class="col-sm-5" *ngIf="!loggedInUser">
        <button class="btn btn-primary float-right" (click)="handleGuestClick()">Rent This</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
