<div class="modal-header">
  <h5 class="modal-title">Create Your Account at Banger and Co.</h5>
  <button type="button" class="close" (click)="closeModal()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <mat-horizontal-stepper [linear]="true" style="font-family: 'Inter', sans-serif;">
    <!-- parent container to hold the steppers -->
    <mat-step [stepControl]="userInfoForm">
      <!-- single step in the form -->
      <form [formGroup]="userInfoForm">
        <!-- first form for stepper 01 -->
        <ng-template matStepLabel>Provide Your Information</ng-template>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="firstNameField"><b class="fonts">First Name</b></label>
              <input type="text" id="firstNameField" class="form-control" placeholder="Enter Your First Name (Required)"
                [formControlName]="'firstName'" maxlength="100">

              <span class="form-error"
                *ngIf="userInfoForm.get('firstName').invalid && userInfoForm.get('firstName').touched">Please Provide a
                Valid First Name</span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="lastNameField"><b class="fonts">Last Name</b></label>
              <input type="text" id="lastNameField" class="form-control" placeholder="Enter Your Last Name (Required)"
                [formControlName]="'lastName'" maxlength="100">
              <span class="form-error"
                *ngIf="userInfoForm.get('lastName').invalid && userInfoForm.get('lastName').touched">Please Provide a
                Valid Last Name</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="emailAddressField"><b class="fonts">Email Address</b></label>
              <input type="email" class="form-control" placeholder="Enter Your Email Address (Required)"
                [formControlName]="'emailAddress'" maxlength="255">
              <span class="form-error"
                *ngIf="userInfoForm.get('emailAddress').invalid && userInfoForm.get('emailAddress').touched">Please
                Provide a
                Valid Email Address</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="usernameField"><b class="fonts">Username</b></label>
              <input type="text" class="form-control" placeholder="Enter Your Username (Required)"
                [formControlName]="'username'" maxlength="15" #usernameField minlength="6" maxlength="15"
                (input)="usernameField.value = usernameField.value.toLowerCase()">
              <span class="form-error"
                *ngIf="userInfoForm.get('username').invalid && userInfoForm.get('username').touched">Please
                Provide a
                Valid Username Between 6 and 15 Characters</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="contactNumberField"><b class="fonts">Contact Number</b></label>
              <input type="text" class="form-control" placeholder="0777712345 (Required)"
                [formControlName]="'contactNumber'" maxlength="10" minlength="10">
              <span class="form-error"
                *ngIf="userInfoForm.get('contactNumber').invalid && userInfoForm.get('contactNumber').touched">Please
                Provide a
                Valid Contact Number of 10 Digits</span>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="dateOfBirthField"><b class="fonts">Date of Birth</b></label>
              <div class="row">
                <div class="col-sm-10">
                  <input class="form-control" placeholder="Enter Date of Birth (Required)"
                    [matDatepicker]="dateOfBirthPicker" readonly [max]="maxDate" style="background-color: white;"
                    [formControlName]="'dateOfBirth'">
                  <span class="form-error"
                    *ngIf="userInfoForm.get('dateOfBirth').invalid && userInfoForm.get('dateOfBirth').touched">Please
                    Provide a
                    Valid Date of Birth</span>
                </div>
                <div class="col-sm-1">
                  <mat-datepicker-toggle [for]="dateOfBirthPicker" class="mat-btn"></mat-datepicker-toggle>
                  <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>

      <button class="btn btn-primary mt-3" style="float: right; width: 30%;" matStepperNext
        [disabled]="userInfoForm.invalid">Next</button>
    </mat-step>

    <mat-step [stepControl]="passwordForm">
      <!-- stepper 01 for form 02 -->
      <form [formGroup]="passwordForm">
        <!-- form for stepper 02 -->
        <ng-template matStepLabel>Provide a Secure Password</ng-template>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="passwordOneField"><b class="fonts">Enter Password</b></label>
              <input type="password" id="passwordOneField" class="form-control"
                placeholder="Enter Your Password (Required)" [formControlName]="'firstPassword'" minlength="6" maxlength="15">
              <span class="form-error"
                *ngIf="passwordForm.get('firstPassword').invalid && passwordForm.get('firstPassword').touched">Please
                Provide a
                Valid Password (Minimum 6 Characters, Maximum 15 Characters)</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="passwordTwoField"><b class="fonts">Re-Enter Password</b></label>
              <input type="password" id="passwordTwoField" class="form-control" minlength="6" maxlength="15"
                placeholder="Re-Enter Your Password (Required)" [formControlName]="'secondPassword'">

              <span class="form-error"
                *ngIf="passwordForm.get('secondPassword').invalid && passwordForm.get('secondPassword').touched">Please
                Provide a
                Valid Password (Minimum 6 Characters, Maximum 15 Characters)<br></span>

              <span class="form-error"
                *ngIf="passwordForm.get('firstPassword').value !== passwordForm.get('secondPassword').value">
                Passwords Do Not Match</span>

              <span class="form-success"
                *ngIf="(passwordForm.get('firstPassword').value === passwordForm.get('secondPassword').value) &&
                 (passwordForm.get('firstPassword').touched) &&
                 (passwordForm.get('firstPassword').value.length !== 0 && passwordForm.get('secondPassword').value.length !== 0) &&
                 (passwordForm.get('firstPassword').value.length >=8  && passwordForm.get('secondPassword').value.length >= 8)
                 && (passwordForm.get('firstPassword').value.length <=30  && passwordForm.get('secondPassword').value.length <= 30)">
                Passwords Match!</span>
            </div>
          </div>
        </div>
      </form>


      <button class="btn btn-primary mt-3" style="float: right; width: 30%;" matStepperNext [disabled]="!passwordForm.valid || !(passwordForm.get('firstPassword').value.length !== 0 && passwordForm.get('secondPassword').value.length !== 0) ||
      !(passwordForm.get('firstPassword').value.length >=6  || passwordForm.get('secondPassword').value.length >= 6)
      || !(passwordForm.get('firstPassword').value === passwordForm.get('secondPassword').value)">Next</button>
      <button class="btn btn-warning mt-3 mr-3" style="float: right;width: 20%;" matStepperPrevious>Previous</button>
    </mat-step>

    <mat-step>
      <!-- stepper 03 for form 03 -->
      <ng-template matStepLabel>Provide a Profile Picture</ng-template>
      <form>
        <!-- form 03 for stepper 03 -->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="row">
                <input type="file" accept="image/jpeg" style="display:none;" #fileChoose
                  (change)="fileLoaded(fileChoose.files[0])" multiple="false">
                <div class="col-sm-12" style="text-align: center;">
                  <label><b class="fonts">Provide Your Profile Picture (maximum - 2MB)</b></label>
                  <br>
                  <button class="btn btn-secondary" (click)="fileChoose.click()" type="button"
                    style="width: 30%;">Upload
                    a Picture</button>

                  <div class="alert alert-warning mt-2" *ngIf="imageSizeExceeded">
                    Image Size Exceeded 2MB. Please Select One Again
                  </div>
                </div>
              </div>

              <div class="row justify-content-center mt-3" *ngIf="imageLoaded">
                <div class="col-sm-12" style="text-align: center;">
                  <img [src]="imageUrl" class="img-responsive" width="250px" height="275px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="row justify-content-center mt-2" *ngIf="!signUpProceed">
        <div class="col-sm-9">
          <div class="alert alert-danger">
            Invalid Data Provided. Please Check Your Data Before Proceeding
          </div>
        </div>
      </div>

      <button class="btn btn-primary mt-3" style="float: right; width: 30%;" type="button"
        [disabled]="(!passwordForm.invalid && !userInfoForm.invalid && imageLoaded === false)"
        (click)="createAccount()">Create Account</button>
      <button class="btn btn-warning mt-3 mr-3" style="float: right;width: 20%;" matStepperPrevious>Previous</button>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" style="width: 30%;" (click)="closeModal()">Close</button>
</div>
