<div class="container">
  <app-section-header [sectionText]="'Pending Rentals At Banger and Co.'" (filterTriggered)="filterTriggered($event)">
  </app-section-header>
  <div class="row">
    <div class="col-sm-12" *ngIf="pendingRentals.length > 0; else showEmpty">
      <app-rental-table-list [rentalList]="filteredList" (loadMoreClicked)="getNextPagePlusThisPage()">
      </app-rental-table-list>
    </div>
    <ng-template #showEmpty>
      <div class="col-sm-12">
        <div class="alert alert-info">
          <h5 class="alert-heading">No Pending Rentals!</h5>
          All the rentals have been handled successfully!
        </div>
      </div>
    </ng-template>
  </div>
</div>
