<app-admin-nav></app-admin-nav>
<div style="background-color: white;" *ngIf="loggedInUser">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="display-4 mt-3" style="font-size: 32px;">{{greeting}} {{loggedInUser.firstName}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <app-completed-rentals12-months></app-completed-rentals12-months>
    </div>
    <div class="col-sm-6">
      <app-profits-made12-months></app-profits-made12-months>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4" style="padding-right: 0px;" (click)="cardClicked('pending')">
          <mat-card style="font-family: 'Inter', sans-serif" class="hover">
            <div style="text-align: center; font-size: 40px;">
              {{allPendingRentals.length}}
            </div>
            <div style="font-size: 18px;">
              Total Pending Rentals
            </div>
          </mat-card>
        </div>

        <div class="col-sm-4" style="width: 100%; padding-right: 0px;" (click)="cardClicked('rentalsForCollection')">
          <mat-card style="width: 100%; font-family: 'Inter', sans-serif;" class="hover">
            <mat-card-content>
              <div style="text-align: center; font-size: 40px;">
                {{rentalsToBeCollectedForThisMonth.length}}
              </div>
              <div style="font-size: 18px;">
                Rentals For Collection In This Month
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-sm-4" (click)="cardClicked('onGoing')">
          <mat-card style="font-family: 'Inter', sans-serif;" class="hover">
            <div style="text-align: center; font-size: 40px;">
              {{allOnGoingRentals.length}}
            </div>
            <div style="font-size: 18px;">
              Total On-Going Rentals
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-sm-12">
      <mat-card style="font-family: 'Inter', sans-serif">
        <mat-card-content>
          <app-loaded-rental-section [loadedRentalList]="rentalsForLoading" [loadingRentalType]="rentalType">
          </app-loaded-rental-section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
