<app-admin-nav></app-admin-nav>
<div style="background-color: white;" *ngIf="loggedInUser">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="display-4 mt-3" style="font-size: 32px;">{{greeting}} {{loggedInUser.firstName}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- dashboard for charts displayed here -->
      <!-- 4 types of data to be viewed -->
      <!-- 1. chart to get completed rentals for past 12 months -->
      <!-- 2. chart to get profits made for 12 months -->
      <!-- 3. view rentals needed to be collected for this month -->
      <!-- view total pending rentals -->
    </div>
  </div>
</div>
