<app-bread-crumb [pageName]="'Available Vehicles'"></app-bread-crumb>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row p-3" style="border-radius: 5px;">
        <mat-card style="font-family: 'Inter', sans-serif;">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="alert-heading">For Your Pickup And Return Dates {{!isError?": "+filteredVehicles.length+"
                  Found":''}}</h5>
                <hr>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="fonts">Selected Pickup Date & Time</label>
                      <div class="badge badge-info p-2" style="font-size: 15px;">
                        Starting on <span class="fonts">{{theFilterInformation.pickupDate | date}}</span> at
                        <span class="fonts">{{theFilterInformation.pickupTime}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="fonts">Selected Return Date & Time</label>
                      <div class="badge badge-info p-2" style="font-size: 15px;">
                        Ending on <span class="fonts">{{theFilterInformation.returnDate | date}}</span> at
                        <span class="fonts">{{theFilterInformation.returnTime}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 align-self-center">
                <button class="btn btn-primary float-right" (click)="reOpenFilterDates()">Find Vehicles For Another
                  Period</button>
              </div>
            </div>
            <div class="row" *ngIf="loggedInUser && userAge < 25">
              <div class="col-sm-12 col-lg-12">
                <p class="msg">You can only rent <b>Small Town Cars</b> since you are less than 25 years of age</p>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="row" *ngIf="!isError">
        <!-- no error found, go ahead and show data -->
        <div class="col-sm-4">
          <mat-card style="font-family: 'Inter', sans-serif;">
            <div class="container">
              <mat-card-title>
                <div class="row">
                  <div class="col-sm-4">
                    Filter
                  </div>
                  <div class="col-sm-8 align-self-center">
                    <a class="float-right" style="font-size: 14px; text-decoration: none; cursor: pointer;"
                      (click)="clearAll()">Clear All
                      Filters</a>
                  </div>
                </div>
                <hr>
              </mat-card-title>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="fonts">Vehicle Type & Price</label>
                    <select class="form-control" style="font-size: 14px;" [(ngModel)]=" selectedType"
                      (change)="search()">
                      <option value="all">All</option>
                      <option *ngFor="let type of allTypes" [value]="type.vehicleTypeId">{{type.size |
                        titlecase}} {{type.typeName |
                        titlecase}} - {{type.pricePerDay}}/Day</option>
                    </select>
                  </div>
                  <hr>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="fonts">Transmission</label>
                    <div class="form-check align-self-center" *ngFor="let eachTransmission of allTransmission"
                      style="padding-left: 0px;">
                      <input type="checkbox" [value]="eachTransmission.name" class="mr-2"
                        style="height:15px; width:20px; padding-top:30px;"
                        (change)="transmissionChanged(eachTransmission.name)" [(ngModel)]="eachTransmission.isChecked">
                      <label>{{eachTransmission.name}}</label>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="fonts">Fuel Type</label>
                    <div class="form-check align-self-center" *ngFor="let eachFuel of allFuelTypes"
                      style="padding-left: 0px;">
                      <input type="checkbox" [value]="eachFuel.name" class="mr-2"
                        style="height:15px; width:20px; padding-top:30px;" (change)="fuelChanged(eachFuel.name)"
                        [(ngModel)]="eachFuel.isChecked">
                      <label>{{eachFuel.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-sm-8">
          <ngx-spinner type="ball-clip-rotate" size="medium" [name]="'filterSpinner'" [fullScreen]="false"
            [bdColor]="'none'" [color]="'black'">
          </ngx-spinner>
          <div class="row" *ngIf="!isError || filteredVehicles.length == 0">
            <div class="col-sm-12">
              <div class="alert alert-warning" *ngIf="!isError && filteredVehicles.length == 0">
                <!-- if there is no error but result generated no data  -->
                <h5 class="alert-heading">Vehicles Not Found</h5>
                There are no vehicles available for the period you wish to rent for
              </div>
              <div class="alert alert-danger" *ngIf="isError && filteredVehicles.length == 0">
                <!-- an error occured while retrieveing the data -->
                <h5 class="alert-heading">Vehicle Not Found</h5>
                We ran into an error retrieving the vehicles. Please try again.
              </div>
            </div>
          </div>
          <div *ngIf="filteredVehicles.length> 0;">
            <!-- data successfully retrieved -->
            <div class="row" style="max-height: 1000px; overflow: auto;">
              <div class="col-sm-6" *ngFor="let vehicle of filteredVehicles">
                <app-vehicle-card [vehicleToRender]="vehicle"></app-vehicle-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
