.heading-formatting {
  font-size: 40px;
}

.coloring {
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 1px;
  transition: background-color 0.3s, box-shadow 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17);
}

.coloring:hover {
  background-color: rgba(219, 235, 240, 0.568);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
}

.primary-item {
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
}
