<app-admin-nav></app-admin-nav>
<app-bread-crumb [pageName]="'Additional Rental Equipment Management'"></app-bread-crumb>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <!-- ng model allows two way data binding in angular and ngModelChange is executed whenever the searchTerm changes its value -->
        <input type="text" class="form-control" placeholder="Provide Equipment Name..." [(ngModel)]="searchTerm"
          style="border-color: none;" (ngModelChange)="filterViaName()">
      </div>
    </div>
    <div class="col-sm-8">
      <button class="btn btn-primary float-right" (click)="loadCreateEquipment()">Create New Equipment</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12 col-lg-12 col-md-12" *ngIf="filterList; else showError;">
      <table class="table table-borderless custom-table" *ngIf="filterList.length>0; else showEmpty;">
        <tr class="table-header">
          <th class="left-header">#</th>
          <th>Equipment Name</th>
          <th>Quantity at Hand</th>
          <th>Price Per Day</th>
          <th class="right-header">
            <span class="float-right">
              Action
            </span>
          </th>
        </tr>
        <tr *ngFor="let eachEquipment of filterList; let i = index;" class="custom-row">
          <td>{{i + 1}}</td>
          <td>{{eachEquipment.equipmentName | titlecase}}</td>
          <td>
            <span *ngIf="eachEquipment.equipmentQuantity == 0" style="color: red;font-style: italic;">
              No Stock Available
            </span>
            <span *ngIf="eachEquipment.equipmentQuantity > 0">
              {{eachEquipment.equipmentQuantity}}
            </span>
          </td>
          <td>{{eachEquipment.pricePerDay}}</td>
          <td>
            <i class="far fa-trash-alt icon-format float-right"
              style="color: rgba(0, 0, 0, 0.699); font-size: 20px; cursor: pointer;" (click)="openDeleteEquipmentModal(eachEquipment)"></i>
            <i class="far fa-edit float-right mr-2"
              style="color: rgba(0, 0, 0, 0.699); font-size: 20px; cursor: pointer;"
              (click)="openEditAdditionalEquipment(eachEquipment.equipmentId)"></i>
          </td>
        </tr>
      </table>
      <ng-template #showEmpty>
        <div class="alert alert-warning">
          <h5 class="alert-heading">No Items Found</h5>
          The result generated no additional equipments in the system.
        </div>
      </ng-template>
    </div>
    <ng-template #showError>
      <div class="col-sm-12 col-lg-12 col-md-12" *ngIf="isError">
        <div class="alert alert-danger">
          <h5 class="alert-heading">Equipment List Not Loaded</h5>
          We could not fetch the equipment list. Please try again.
        </div>
      </div>
    </ng-template>
  </div>
</div>
