<app-customer-nav></app-customer-nav>
<div style="background-color: white;" *ngIf="loggedInUser">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="display-4 mt-3" style="font-size: 32px;">{{greeting}} {{loggedInUser.firstName}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <button class="float-right btn btn-primary" style="width: 25%;" (click)="openVehicleRentalFilterPopup()">Rent A Vehicle</button>
    </div>
  </div>
</div>
