<div class="modal-header">
  <h5 class="modal-title">{{getTitle()}}</h5>
  <button type="button" class="close" (click)="closeModal()">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="theForm">
        <div class="form-group">
          <label class="fonts">Equipment Name</label>
          <input type="text" [formControlName]="'equipmentName'" class="form-control"
            placeholder="Provide Additional Equipment Name..." />
          <span class="form-error" *ngIf="theForm.get('equipmentName').touched && theForm.get('equipmentName').invalid">
            Please Provide a Valid Equipment Name
          </span>

          <span class="form-error" *ngIf="theForm.get('equipmentName').touched && theForm.get('equipmentName').invalid && theForm.get('equipmentName').errors.pattern">
            Please ensure that the name only has aplhabetical characters and no numerics.
          </span>
        </div>
        <div class="form-group">
          <label class="fonts">Quantity at Hand</label>
          <input type="number" [formControlName]="'equipmentQuantity'" class="form-control"
            placeholder="Provide Quantity at Hand..." />
          <span class="form-error"
            *ngIf="theForm.get('equipmentQuantity').touched && theForm.get('equipmentQuantity').invalid">
            Please Provide a Valid Equipment Quantity
          </span>
          <ng-template *ngIf="theForm.get('equipmentQuantity').hasError('quantityInvalid')">
            <span class="form-error"
              *ngIf="theForm.get('equipmentQuantity').touched && theForm.get('equipmentQuantity').errors['quantityInvalid']">
              <br>
              Quantity At Hand Cannot Be Less Than 1
            </span>
          </ng-template>
        </div>
        <div class="form-group">
          <label class="fonts">Price Per Day (LKR)</label>
          <input type="text" [formControlName]="'pricePerDay'" class="form-control"
            placeholder="Provide Price Per Day..." />
          <span class="form-error" *ngIf="theForm.get('pricePerDay').touched && theForm.get('pricePerDay').invalid">
            Please Provide a Valid Price Per Day
          </span>
        </div>
      </form>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="float-right btn btn-danger" style="width: 25%;" (click)="closeModal()">Close</button>
  <button class="float-right btn btn-primary" [disabled]="theForm.invalid"
    (click)="processEquipmentHandling()">{{getButtonCaption()}}</button>
</div>
