<app-customer-nav></app-customer-nav>
<app-bread-crumb [pageName]="'Detailed Rental Information'"></app-bread-crumb>

<div class="container" *ngIf="theRental; else showError">

  <div class="row">
    <div class="col-sm-12 align-self-center">
      <button class='float-right p-2 mb-2 btn btn-primary ml-2' style="vertical-align: middle;"
        (click)="launchCreateLateReturn()"
        *ngIf="!theRental.lateReturnRequested && theRental.collected && !theRental.returned">Request Late
        Return</button>

      <button class='float-right p-2 mb-2 btn btn-primary ml-2' style="vertical-align: middle;"
        (click)="launchUpdateModal()"
        *ngIf="((theRental.approved == null || theRental.approved == undefined) || (theRental.approved && !theRental.collected) || (theRental.approved && theRental.collected && !theRental.returned)) && (theRental.returnTime < '16:00:00')">Update
        Return Time</button>

      <button class='float-right p-2 mb-2 btn btn-primary ml-2' style="vertical-align: middle;"
        (click)="launchCancelLateReturn()"
        *ngIf="theRental.lateReturnRequested && theRental.collected && !theRental.returned">Cancel Late Return</button>


      <span class='float-right p-2 mb-2' style="font-size: 18px; vertical-align: middle;"
        [ngClass]="getBadgeClass()">{{getBadgeName()}}</span>
      <span class='float-right p-2 mb-2 badge badge-info mr-2' style="font-size: 18px; vertical-align: middle;"
        *ngIf="theRental.lateReturnRequested">Rental Will Be Late Returned</span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <mat-card style="font-family: 'Inter', sans-serif;">
        <mat-card-title style="font-size: 18px;">Pickup Information</mat-card-title>
        <mat-card-content>
          <span style="font-size: 16px;">Vehicle picked up on the <b class="fonts">{{theRental.pickupDate |
              date}}</b> at <b class="fonts">{{theRental.pickupDate}}</b></span>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-6">
      <mat-card style="font-family: 'Inter', sans-serif;">
        <mat-card-title style="font-size: 18px;">Return Information</mat-card-title>
        <mat-card-content>
          <span style="font-size: 16px;">Vehicle returned on the <b class="fonts">{{theRental.returnDate |
              date}}</b> at <b class="fonts">{{theRental.returnTime}}</b></span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-8">
      <mat-card style="font-family: 'Inter', sans-serif;">
        <mat-card-content>
          <app-show-vehicle-on-rental [loadedVehicle]="theRental.vehicleToBeRented"></app-show-vehicle-on-rental>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4">
      <app-detailed-ad-ons [addedEquipments]="theRental.equipmentsAddedToRental"></app-detailed-ad-ons>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-primary">
            <h5 class="alert-heading">My Identification Documents</h5>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-12">
          <mat-card style="font-family: 'Inter', sans-serif;">
            <mat-card-title style="font-size: 18px;">
              My Information: {{theRental.customerUsername.firstName}}
              {{theRental.customerUsername.lastName}}
              <span style="font-size: 14px;">({{theRental.customerUsername.username}})</span>
            </mat-card-title>
            <mat-card-content>
              <div class="row">
                <div class="col-sm-3">
                  <i class="fas fa-steering-wheel icon"></i> : {{theRental.customerUsername.drivingLicenseNumber}}
                </div>
                <div class="col-sm-3">
                  <i class="fal fa-phone-alt icon"></i> : <a href="tel:{{theRental.customerUsername.contactNumber}}">
                    {{theRental.customerUsername.contactNumber}}</a>
                </div>
                <div class="col-sm-3">
                  <i class="fal fa-envelope-open-text icon"></i> : <a
                    href="mailto:{{theRental.customerUsername.emailAddress}}">{{theRental.customerUsername.emailAddress}}</a>
                </div>
                <div class="col-sm-3">
                  <i class="far fa-birthday-cake icon"></i> : {{theRental.customerUsername.dateOfBirth | date}}
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <app-user-identification [imageToLoad]="theRental.customerUsername.licensePic"
            [imageAlt]="'Customer Driving License'"></app-user-identification>
        </div>
        <div class="col-sm-6">
          <app-user-identification [imageToLoad]="theRental.customerUsername.otherIdentity"
            [imageAlt]="'Customer Other Identification'"></app-user-identification>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="alert alert-primary" style="text-align: center;">
            <span class="fonts" style="font-size: 22px;">Total Cost -
              {{theRental.totalCostForRental.toFixed(2)}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<ng-template #showError>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger">
          <h5 class="alert-heading">Failed To Load Detailed Rental Information</h5>
          The rental failed to be loaded from the system. Please try again.
        </div>
      </div>
    </div>
  </div>
</ng-template>
