<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-9" style="margin: 150px auto 0;">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div style="text-align: center;">
                <img src="../../../../assets/404Logo.png" width="300" height="250" alt="404 Error Image">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12" style="text-align: center;">
              <p class="format-text">{{errorMessage}}</p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <button class="btn btn-primary format-btn" (click)="navigateBack()">Go Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
