<!-- create a reactive form to handle the processing -->
<div class="modal-header">
  <h5 class="modal-title">Create a Vehicle</h5>
  <button type="button" class="close float-right" (click)="hideModal()">
    <span>&times;</span>
  </button>
</div>

<div class="modal-body">
  <!-- using the angular stepper from material UI -->
  <!-- denotes it is a stepper form that is going in linear -->
  <!-- linear attribute denotes user must complete previous step before proceeding -->
  <mat-horizontal-stepper [linear]="true" style="font-family: 'Inter', sans-serif !important;">
    <!-- mat step denotes a stage in the form -->
    <mat-step [stepControl]="vehicleForm">
      <!-- mat step label adds a header caption for each stage -->
      <form [formGroup]="vehicleForm">
        <ng-template matStepLabel>Provide Vehicle Information</ng-template>

        <div class="row">
          <div class="col-sm-7">
            <div class="form-group">
              <label class="fonts">Vehicle Type</label>
              <select class="form-control" [formControlName]="'vehicleType'">
                <option *ngFor="let eachType of vehicleTypeList" [value]="eachType.vehicleTypeId">{{eachType.size |
                  titlecase}} {{eachType.typeName |
                  titlecase}} - {{eachType.pricePerDay}}/Day
                </option>
              </select>
              <span class="form-error"
                *ngIf="vehicleForm.get('vehicleType').invalid && vehicleForm.get('vehicleType').touched">Please Provide
                a Valid Type</span>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group" dropdown [autoClose]="false">
              <label style="color: red; font-style: italic;">Type Not Found? Create Type</label>
              <button class="btn btn-info" style="width: 100%;" dropdownToggle type="button" #assignReference>Assign New
                Type</button>

              <div *dropdownMenu class="dropdown-menu p-2" style="width: 100%;">

                <ngx-spinner [name]="'typeCreator'" type="ball-clip-rotate" [fullScreen]="false"
                  [bdColor]="'transparent'" [color]="'rgb(81, 0, 128)'" [size]="'medium'"></ngx-spinner>

                <div style="max-height: 250px; overflow: auto;" class="p-1">
                  <!-- create new type form -->
                  <form (ngSubmit)="handleNewTypeCreation()" [formGroup]="vehicleTypeCreator">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="fonts">Type Name</label>
                          <input type="text" class="form-control" placeholder="Name (Town Car)"
                            [formControlName]="'typeName'" />
                          <span class="form-error"
                            *ngIf="vehicleTypeCreator.get('typeName').touched && vehicleTypeCreator.get('typeName').invalid">Invalid
                            Type Name (max 50 characters)</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="fonts">Category Size</label>
                          <select class="form-control" [formControlName]="'categorySize'">
                            <option value="small">Small</option>
                            <option value="medium">Medium</option>
                            <option value="large">Large</option>
                          </select>
                          <span class="form-error"
                            *ngIf="vehicleTypeCreator.get('categorySize').touched && vehicleTypeCreator.get('categorySize').invalid">Invalid
                            Vehicle Category Size</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label class="fonts">Price Per Day (LKR)</label>
                          <input type="text" class="form-control" placeholder="75.00"
                            [formControlName]="'pricePerDay'" />
                          <span class="form-error"
                            *ngIf="vehicleTypeCreator.get('pricePerDay').touched && vehicleTypeCreator.get('pricePerDay').invalid">Invalid
                            Price Per Day</span>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary" style="width: 100%;">Create Vehicle
                            Type</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label class="fonts">License Plate</label>
              <input class="form-control" placeholder="XXX-0000 or XX-0000" [formControlName]="'licensePlate'">
              <span class="form-error"
                *ngIf="vehicleForm.get('licensePlate').invalid && vehicleForm.get('licensePlate').touched">Please
                Provide
                a Valid License Plate</span>

              <span class="form-error"
                *ngIf="vehicleForm.get('licensePlate').invalid && vehicleForm.get('licensePlate').touched && vehicleForm.get('licensePlate').errors.pattern">
                <br>
                Please
                Provide
                the license plate in format: XXX-0000 or XX-0000 </span>

            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group">
              <label class="fonts">Vehicle Name</label>
              <input class="form-control" placeholder="Provide Vehicle Name (Mercedes S Class)"
                [formControlName]="'vehicleName'">
              <span class="form-error"
                *ngIf="vehicleForm.get('vehicleName').invalid && vehicleForm.get('vehicleName').touched">Please
                Provide
                a Valid Vehicle Name (Maximum - 125 Characters)</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="fonts">Fuel Type</label>
              <select class="form-control" [formControlName]="'fuelType'">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="Hybrid">Hybrid</option>
                <option value="Electric">Electric</option>
              </select>
              <span class="form-error"
                *ngIf="vehicleForm.get('fuelType').invalid && vehicleForm.get('fuelType').touched">Please
                Provide
                a Valid Fuel Type</span>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="fonts">Transmission Type</label>
              <select class="form-control" [formControlName]="'transmission'">
                <option value="Automatic">Automatic</option>
                <option value="Manual">Manual</option>
                <option value="Triptonic">Triptonic</option>
              </select>
              <span class="form-error"
                *ngIf="vehicleForm.get('transmission').invalid && vehicleForm.get('transmission').touched">Please
                Provide
                a Transmission Type</span>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="fonts">Seating Capacity</label>
            <input type="number" class="form-control" placeholder="Vehicle Seating Capacity" min="0"
              [formControlName]="'seatingCapacity'">
            <span class="form-error"
              *ngIf="vehicleForm.get('seatingCapacity').invalid && vehicleForm.get('seatingCapacity').touched">Please
              Provide
              a Valid Seating Capacity</span>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-12">
            <div class="form-group">
              <button class="float-right btn btn-primary" style="width:25%;" type="button" matStepperNext
                [disabled]="vehicleForm.invalid">Next</button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- vehicle image selector -->
    <mat-step>
      <ng-template matStepLabel>Provide a Picture</ng-template>

      <div class="row justify-content-center">
        <div class="col-sm-5">
          <input type="file" accept="image/jpeg" style="display:none" class="mb-2" #vehicleImagePicker
            (change)="loadPicture(vehicleImagePicker.files[0])" multiple="false">
          <button class="btn btn-secondary mt-2" style="width: 100%;" (click)="vehicleImagePicker.click()"
            type="button">Upload a Picture (Maximum - 5MB)</button>
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-sm-12">

          <ngx-spinner [name]="'imageSpinner'" type="ball-clip-rotate" [fullScreen]="false" [bdColor]="'transparent'"
            [color]="'rgb(81, 0, 128)'"></ngx-spinner>

          <div class="row justify-content-center" *ngIf="!vehicleImageUrl">
            <div class="col-sm-6 mt-2">
              <div class="alert alert-info" style="text-align: center;">
                Please select an image to proceed
              </div>
            </div>
          </div>

          <div class="row justify-content-center" *ngIf="fileSizeExceeded == true; else showImage">
            <div class="col-sm-6">
              <div class="alert alert-warning">
                The image you selected exceeded 5MB
              </div>
            </div>
          </div>

          <ng-template #showImage>
            <div class="row justify-content-center">
              <div class="col-sm-6 mt-3" style="width: 180; height: 180px; text-align: center;">
                <img [src]="vehicleImageUrl" width="180" height="180" class="img-responsive" *ngIf="vehicleImageUrl">
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-12">
          <button class="btn btn-primary float-right ml-2" style="width:30%;" type="button"
            [disabled]="vehicleForm.invalid || !loadedImage" (click)="createVehicle()">Create Vehicle</button>
          <button class="btn btn-warning float-right" style="width:30%;" matStepperPrevious
            type="button">Previous</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<div class="modal-footer">
  <button class="float-right btn btn-danger" style="width: 20%;" type="button" (click)="hideModal()">Dismiss</button>
</div>
