body {
  background-color: #ebecf09c;
  font-family: "Roboto", sans-serif;
}

.form-error {
  color: red;
  font-size: 12px;
}

.form-success{
  color: green;
  font-size: 12px;
}

.fonts {
  font-weight: 500;
}

/* sets the width of scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* sets the color of the overall scroll bar */
::-webkit-scrollbar-track {
  background-color: rgba(148, 144, 144, 0.158);
}

/* shows scrollable content  */
::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.171);
  transition: background-color 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(92, 91, 91);
}

.cdk-overlay-container {
  z-index: 1200;
}

.toast-container .ngx-toastr{
  width: 300px;
  border-radius: 15px;
  transition: box-shadow 0.25s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.toast-title{
  font-weight: 400;
  font-size: 20px;
}

.toast-message{
  font-size: 16px;
  font-weight: 300;
}

.toast-container .ngx-toastr:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 10000px) and (min-width: 769px) {
  /* CSS that should be displayed if width is equal to or less than 10000px and larger
   than 768px goes here */
   .toast-container .ngx-toastr{
    width: 500px;
    border-radius: 15px;
    transition: box-shadow 0.25s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  }

}

