.headers {
  font-size: 24px;
  float: right;
  padding-bottom: 10px;
}

.header-left {
  float: left;
}

.icon-format {
  font-size: 22px;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
}
