<app-bread-crumb [pageName]="'Vehicle Management'"></app-bread-crumb>
<div class="container">
  <div class="row mb-3">
    <div class="col-sm-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <input type="text" placeholder="Enter Vehicle Name..." class="form-control" [(ngModel)]="enteredName"
          (ngModelChange)="searchByName()">
      </div>
    </div>
    <div class="col-sm-8 align-self-center">
      <button class="btn btn-primary float-right" (click)="launchCreateModal()">Create Vehicle</button>
      <button class="btn btn-secondary float-right mr-2" [routerLink]="'vehicleType'">Manage Vehicle Types</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group float-left" style="width: 100%;">
        <label class="fonts">Filter Via Vehicle Type</label>
        <select class="form-control" [disabled]="vehicleTypeList.length == 0" #theOption [(ngModel)]="vehicleSelector"
          (change)="filterVehicles(theOption.value)">
          <!-- empty option used to handle first time click sort -->
          <!-- if same value is selected, no change occurs, therefore, if first option is actually required select it doesn't work,
          to avoid that i use empty option -->
          <option value="all">All Vehicle Types</option>
          <option *ngFor="let eachType of vehicleTypeList" [value]="eachType.vehicleTypeId">{{eachType.size |
            titlecase}} {{eachType.typeName |
            titlecase}} - {{eachType.pricePerDay}}/Day
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" *ngIf="vehicleLoadError">
      <div class="alert alert-danger">
        <h5 class="alert-heading">An Error Occured</h5>
        An error occured while loading the vehicles.
      </div>
    </div>
    <div class="col-sm-12" *ngIf="!vehicleLoadError && filteredList.length == 0; else showVehicles;">
      <div class="alert alert-warning">
        <h5 class="alert-heading">No Vehicles Found</h5>
        There are no vehicles registered at Banger and Co.
      </div>
    </div>
    <ng-template #showVehicles>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4" *ngFor="let vehicle of filteredList">
            <!-- pass the vehicle to render on
            each iteration into the vehicle card
            component via property binding of "vehicleToRender" declared in VehicleCard component -->
            <app-vehicle-card [vehicleToRender]="vehicle" (adminClickedDelete)="processDeleteClicked($event)"></app-vehicle-card>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
