<app-bread-crumb [pageName]="'Vehicle Management'"></app-bread-crumb>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group float-left" style="width: 100%;">
        <label class="fonts">Sort Via Vehicle Type</label>
        <select class="form-control" [disabled]="vehicleTypeList.length == 0">
          <option *ngFor="let eachType of vehicleTypeList" [value]="eachType.vehicleTypeId">{{eachType.size |
            titlecase}} {{eachType.typeName |
            titlecase}} - {{eachType.pricePerDay}}/Day
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-8 align-self-center">
      <!-- self center for vertical middle of button -->
      <button class="btn btn-primary float-right" (click)="launchCreateModal()">Create Vehicle</button>
      <button class="btn btn-secondary float-right mr-2" [routerLink]="'vehicleType'">Manage Vehicle Types</button>
    </div>
  </div>
</div>
